/* Daha sonra kullanmak üzere değişkenler belirlendi */ 
:root{
    --primary: rgb(36, 34, 34);
    --light: rgb(16, 14, 14);
}
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    
    margin: 0 auto;
    /* flex ile Kutuların yan yana pozisyon alması sağlandı */ 
    display: flex;
    align-items: center;
    /* justify content ile kutuların eşit uzaklıklarda olması sağlandı */
    justify-content: space-between;
    

}
/* Navbar pozisyonu sabitlendi*/
nav{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 99;
    background-color: var(--light);
    padding: 16px 32px;
    border: 16px 32px;
    border-bottom: 3px solid #8c38ff;
    
}
.layout_index_main{
    display: grid;
    grid-template-columns: 85% auto;
}
.layout_right_bar{
        
    border-radius: 10px;
}
.layout_leftbar{
    display: none;
}
.layout_movie_main{
    display: grid;
    grid-template-columns: 70% 10% 5%;
}
.comment{
    margin-top: 30px;
    margin-left: 0px;
    width: 300px;
    border: 2px solid #333;
    padding: 15px 10px;
    border-radius: 15px;
}
textarea
{
    height: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: transparent;
    margin-bottom: 10px;
    resize: none;
    outline: none;
    transition: .5s
}
input[type="submit"]
{
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
h2{
    color: #8c38ff; 
}
/* film seçeneğine girildiğinde sağ tarafta Friends yazısı yazıldı */
h3{
    color: #8c38ff;
    padding: 8px 16px;;
}
.image_movie{

    width: 200px;
    height: 300px;
    margin: 110px 80px;
    outline: 10px solid rgb(16, 14, 14);
    border-radius: 6px;

    
    
    
}
.image_movie:hover{
    transition: 0.2s;
    border: 9px solid rgb(16, 14, 14);
}
.yt_video{
    margin-top: 130px;
    margin-left: 0px;
    

}




.hamburger{
    display: block;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color:white;
    border-radius: 6px;
    z-index:1;
/* butona tekrar basıldığında animasyonun tersine dönmesi için tranform origin verildi */
    transform-origin: 0 0;
    transition: 0.4s;

}
/* cursor hamburger menü üzerindeyken 2. block 10pixel hareket edecek ve renk değişecek */
.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: #8c38ff;

}
/* butona basıldığında 1. blok 45 derece */
/* blokların düzgün bir şekilde x oluşturması için 45 derece dönmeden önce hareket ettik */
.hamburger.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg)
}
/* butona tıklandığında giderek kaybolma efekti için 15px hareket ettirdik */
.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}
.hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg)
}
.hamburger.hamburger.is-active:hover span{
    background-color: #8c38ff;
}
.mobile-nav{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 98;
    background-color:rgb(16, 14, 14);
    padding-top: 110px;
    transition: 0.4s;
}
.mobile-nav.is-active{
    left: 0;

}
.mobile_a{
    display: block;
    color: white;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 60px;
}
.mobile_a:hover{
    transition: 0.2s;
    background-color: #8c38ff;
}
.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-start;
    margin: 0 0px;
    

}
/* navbar üzerindeki her bir öğenin üstüne mouse geldiğinde arka plan rengi siyah olur */
.menu a {
    color: white;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;
    padding: 8px 16px;
    border-radius: 99px;
}
.menu a:hover{
    background-color: #8c38ff;

}

.friends{
    display: none;
    outline: 9px solid rgb(16, 14, 14);
    flex-direction: column;
    gap: 15px;
    align-items: start;
    margin: 120px 15px;
    border-radius: 3px;

    
       
}
.friends_menu{
    color: white;
    display: flex;
    margin: 5px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}
.friends_menu:hover{
    background-color: #8c38ff;
}
.main{
    display: grid;
    grid-template-columns: 3fr 1fr ;
    grid-template-rows: 600px 1fr ;
}
.layout_main_friends{
    display: none;
}
@media (min-width: 900px){
    .layout_main_friends{
        display: block;
    }

    .yt_video{
        width: 980px;
        height: 615px;
       margin-left: 50px;
    }
    .layout_leftbar{
        display: grid;
    }
    .comment{
        width: auto;
        margin-left: 50px;
    }
    .mobile-nav.is-active{
        left: 75%;
    }
    .mobile-nav{
        width: 500px;
    }
    .menu{
        display: block;
    }
    .friends{
        display: flex;
    }
    .layout_right_bar{
        outline: 3px solid #8c38ff;
    }
}
